#upper-left {
    background-repeat: no-repeat;
    background-image: url('upper-left.png');
    width: 1131px;
    height: 124px;
	position:absolute;
	top:0;
	left:0;
}

#upper-right {
    background-repeat: no-repeat;
    background-image: url('upper-right.png');
    width: 406px;
    height: 273px;
	position: absolute;
	top:0;
	right:0;
}

#upper {
	background-repeat: repeat-x;
    background-image: url('upper.png');
    height: 124px;
	position:absolute;
	top:0;
	right:0;
	left:0;
}

#left {
	background-repeat: repeat-y;
    background-image: url('left.png');
    width: 44px;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
}

#lower {
	background-repeat: repeat-x;
    background-image: url('lower.png');
    height: 71px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#lower-left {
    background-repeat: no-repeat;
    background-image: url('lower-left.png');
    width: 422px;
    height: 71px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#lower-right {
    background-repeat: no-repeat;
    background-image: url('lower-right.png');
    width: 406px;
    height: 127px;
	position: absolute;
	bottom: 0;
	right: 0;
}

#right {
	background-repeat: repeat-y;
    background-image: url('right.png');
    width: 406px;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
}

#text {
	position: absolute;
	top: 124px;
	left: 44px;
	right: 406px;
	bottom: 71px;
	border: none;
	overflow: none;
	margin: 0;
	padding: 0;
	background-color: rgb(30,30,30);
}